dj-database-url==0.5.0
Django==1.11.22
django-forms-bootstrap==3.1.0
django-todo==2.4.8
gunicorn==19.9.0
Jinja2==2.10
Pillow==5.1.0
psycopg2-binary==2.8.3
pytz==2019.1
Unidecode==1.1.1
urllib3==1.25.3
virtualenv==16.2.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wrapt==1.11.2
zope.interface==4.3.2
