
{% extends 'base.html' %} {% block content %}


<!-- ========================= SECTION INTRO ========================= -->
<section id="intro" class="section-intro bg-light pt-5">
<div class="container">
	<div class="row d-flex" style="min-height:600px;">
	<div class="col-sm-6 d-flex align-items-center">
		<header class="intro-wrap text-danger">
			<h2 class="display-3"><b> Your Beauty Corner On The Internet </b></h2>
			
			<a href="{% url 'login' %}" class="btn btn-dark">Sign In</a>
			<a href="{% url 'register' %}" class="btn btn-dark">Register</a>
		</header>  <!-- intro-wrap .// -->
	</div> <!-- col.// -->
	<div class="col-sm-6 text-right">
        <img src="../media/images/brush.jpg" class="img-fluid my-5" width="500"></div>
        <div class="col-sm-6 text-left">
        <img src="../media/images/hand.png" class="img-fluid my-6"  width="500">	
    </div> <!-- col.// -->
    <div class="col-sm-6 d-flex align-items-center">
            <header class="intro-wrap text-danger">
                <h2 class="display-3"><b> GET FREE SHIPPING WITH YOUR ORDER TODAY!</b></h2>
            </header>  <!-- intro-wrap .// -->
        </div> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<br/> <br/><br/><br/><br/>


<div class="row row-flex">

    {% for product in products %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">

        <div class="panel-body">

            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"> </div>

            <h3>{{ product.name }}</h3>

            <p class="product-description">{{ product.description }} </p>

            <p>{{ product.price }}</p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">

                {% csrf_token %}

                <div class="input-group">

                    <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity" />

                    <span class="input-group-btn">

                        <button class="btn btn-success" type="submit"> <i class="fas fa-shopping-bag"></i><b> Buy Item</b> </button>

                    </span>

                </div>

            </form>

        </div>

    </div>

    {% endfor %}

</div>



{% endblock %}