{% extends 'base.html' %}

{% block content %} 


<p><b> Welcome back {{ user.username }}! </b></p>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Your E-mail: </th>
      <th scope="col">{{ user.email }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Your Username: </th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th scope="row"> Customer Service: </th>
      <td>beauty@customer.com</td>
    </tr>
    <tr>
      <th scope="row"> Call Us: </th>
      <td>+447905799511</td>
      
    </tr>
  </tbody>
</table>
{% endblock %}
